.button--two {
    --height: 35px;
    --button-color: white;
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
    border: 1px solid #017358;
    cursor: pointer;
}

.button--two::before {
    position: absolute;
    font-size: 0.9rem;
    color: #111;
    border-radius: .25em;
}

.button--two::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
}

.button--two::after,
.button--two::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}


.button--two
.text--two {
    display: flex;
    align-items: center;
    justify-content: center;
}


.button--two--wrapper,
.text--two,
.icon--two {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #017358;
}

.icon--two:hover{
    color: white;
}
.text--two {
    top: 0
}
.text--two,
.icon--two {
    transition: top 0.5s;
}

.icon--two {
    color: #017358;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button--two:hover {
    background: #017358;
}

.button--two:hover .text--two {
    top: -100%;
}

.button--two:hover .icon--two {
    top: 0;
}